.form-hero {
  display: flex;
  align-items: center;

  height: var(--u12);

  margin-top: var(--u2);
}

.form-separator {
  margin: 0 calc(0rem - var(--u4));
  margin-top: var(--u2);
  margin-bottom: var(--u4);

  color: var(--c-separator);
  border-color: var(--c-shadow-inverted);
}

.form-hero__image {
  height: 48px;
  width: 48px;
  max-width: 48px;
  margin-bottom: 0;
}

.form-hero__text {
  margin-left: var(--u4);
}

.form-field-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: var(--u12);
  padding-top: var(--u2);
  padding-bottom: var(--u2);

  @media only screen and (max-width: 480px) {
    justify-content: stretch;
    width: 100%;
  }
}

.form-field-link__a {
  width: 100%;

  @media only screen and (max-width: 480px) {
    text-align: center;
  }
}

.form-field-text__label {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  height: var(--u12);
  padding-top: var(--u2);


  @media only screen and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}

.form-field-text__input {
  height: var(--u8);
  width: calc(var(--u) * 54);
  padding: var(--u) var(--u2);

  margin-left: var(--u2);

  font-size: 1em;

  @mixin input-border;

  outline-offset: 4px;
  outline-width: 0px;
  outline-style: dotted;
  outline-color: var(--l-c-outline);

  &:focus-visible {
    outline-width: 1px;
    --l-c-outline: var(--c-outline);
  }

  @media only screen and (max-width: 480px) {
    margin-left: 0;
    margin-top: var(--u);
    margin-bottom: var(--u);
    width: 100%;
  }
}

.form-field-text:hover .form-field-text__input:not(:focus-visible) {
  outline-width: 1px;
  --l-c-outline: var(--c-outline-subtle);
}

.form-field-text.form-field-text_hasError .form-field-text__input {
  border-color: var(--c-error);
  box-shadow: -1px -1px var(--c-input-shadow-dark);
}

.form-field-text.form-field-text_hasError .form-field-text__input,
.form-field-text.form-field-text_hasError:hover .form-field-text__input {
  --l-c-outline: var(--c-error);
}

.form-field-text__error {
  display: flex;
  justify-content: flex-end;
  height: var(--u4);

  color: var(--c-error);
  font-size: 0.9em;
}

.form-error {
  display: flex;
  align-items: center;

  height: var(--u4);
  color: var(--c-error);
  font-size: 0.9em;

  visibility: hidden;

  @media only screen and (max-width: 480px) {
    justify-content: flex-start;
  }
}


.form-field-checkbox__label {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  height: var(--u12);

  padding-top: var(--u2);
  padding-bottom: var(--u2);

}

.form-field-checkbox__label:hover .form-field-checkbox__input:not(:focus-visible) {
  outline: 1px var(--c-outline-subtle) dotted;
}

.form-field-checkbox__input {
  margin-left: var(--u2);
  height: var(--u6);
  width: var(--u6);
  position: relative;

  font-size: 1rem;

  appearance: none;
  place-content: center;

  background: var(--r-white);

  border-radius: 0;

  border-style: solid;

  border-top-width: 1px;
  border-left-width: 1px;
  border-top-color: var(--r-black);
  border-left-color: var(--r-black);

  border-bottom-width: 1px;
  border-right-width: 1px;
  border-bottom-color: var(--r-grey);
  border-right-color: var(--r-grey);

  box-shadow: -1px -1px var(--r-dark-grey), 1px 1px var(--r-white);

  outline-offset: 3px;

  &:focus-visible {
    outline: 1px dotted var(--c-outline);
  }
}

.form-field-checkbox__input::before {
  content: "";

  position: absolute;
  top: 0.15rem;
  left: 0px;
  height: var(--u6);
  width: var(--u6);

  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;

  @media only screen and (max-width: 480px) {
    top: 0.3rem;
  }
}

.form-field-checkbox__input:checked::before {
  content: url('../../assets/checkmark.png');
}

.form-actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  height: var(--u12);

  margin-top: var(--u6);

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}

.form-button {
  height: var(--u10);
  padding: var(--u2);
  width: var(--u24);

  font-size: 1rem;
  font-weight: 400;

  color: var(--c-text);
  background: var(--c-button);

  @mixin button-border;

  outline-offset: -6px;

  &:focus-visible {
    outline: 1px dotted var(--c-outline);
  }

  &:enabled:active {
    background: var(--c-button-active);
  }

  &:hover:not(:focus-visible) {
    outline: 1px dotted var(--c-outline-subtle);
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
    margin-bottom: var(--u2);
  }
}

.form-button:disabled {
  color: var(--c-text-subtle);
  background: var(--c-button-disabled);
}

.form-button.form-button_default {
  @mixin button-border;
  box-shadow: 0px 0px 0px 1px var(--c-shadow),
    3px 3px var(--c-shadow);
}

.form-button:nth-child(n+2) {
  margin-left: var(--u2);
}

