:root {
  --u: 0.25rem;
  --u2: calc(2 * var(--u));
  --u3: calc(3 * var(--u));
  --u4: calc(4 * var(--u));
  --u6: calc(6 * var(--u));
  --u8: calc(8 * var(--u));
  --u10: calc(10 * var(--u));
  --u12: calc(12 * var(--u));
  --u24: calc(24 * var(--u));

  --r-teal: #008080;
  --r-grey: #c3c3c3;
  --r-dark-grey: #818181;
  --r-darker-grey: #414141;
  --r-light-grey: #d1d1d1;
  --r-black: #000000;
  --r-white: #fdffff;
  --r-blue: #010081;
  --r-light-blue: #abc5f2;
  --r-purple: #5d55f6;
  --r-red: #ff0081;

  --c-bg-main: var(--r-teal);
  --c-bg-dialog: var(--r-grey);

  --c-button: var(--r-light-grey);
  --c-button-active: var(--r-grey);

  --c-text: var(--r-black);
  --c-text-subtle: var(--r-darker-grey);
  --c-text-inverted: var(--r-white);

  --c-border-br: var(--r-dark-grey);
  --c-border-tl: var(--r-white);
  --c-border-input-br: var(--r-grey);
  --c-border-input-tl: var(--r-black);

  --c-shadow: var(--r-black);
  --c-shadow-inverted: var(--r-white);

  --c-input-shadow-dark: var(--r-dark-grey);
  --c-input-shadow-light: var(--r-white);

  --c-outline: var(--r-black);
  --c-outline-subtle: var(--r-dark-grey);

  --c-selection: var(--r-blue);

  --c-link: var(--r-blue);
  --c-link-visited: var(--r-purple);

  --c-error: var(--r-red);

  /* about B612: https://b612-font.com/ */
	font-family: B612, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #000;
  background-color: var(--c-bg-main);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
	margin: 0;
}

.page {
  height: 100%;
}

::selection {
  background-color: var(--c-selection);
  color: var(--r-white);
}

a {
  line-height: 2rem;

  color: var(--c-link);
  outline-offset: 1px;

  &:focus-visible {
    outline: 1px dotted var(--c-link);
  }
}

a:visited {
  color: var(--c-link-visited);

  &:focus-visible {
    outline: 1px dotted var(--c-link-visible);
  }
}

._isVisible {
  visibility: visible;
}

._isHidden {
  visibility: hidden;
}
